@model IEnumerable<Punto_de_ventaMVC.Models.Cliente>

@{
    ViewData["Title"] = "Listado de Clientes";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-bordered table-hover dataTableJS">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Identidad</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.id_cliente</td>
                <td>@cliente.nombre</td>
                <td>@cliente.apellido</td>
                <td>@cliente.telefono</td>
                <td>@cliente.identidad</td>
                <td>@cliente.direccion</td>
            </tr>
        }
    </tbody>
</table>