@model IEnumerable<Punto_de_ventaMVC.Models.Producto>

@{
    ViewData["Title"] = "Listado de Productos";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-bordered table-hover dataTableJS">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Nombre</th>
            <th>Precio de Compra</th>
            <th>Precio de Venta</th>
            <th>Código</th>
            <th>Stock Mínimo</th>
            <th>Stock Máximo</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td hidden>@producto.id_producto</td>
                <td>@producto.nombre</td>
                <td>@producto.precio_compra</td>
                <td>@producto.precio_venta</td>
                <td>@producto.codigo</td>
                <td>@producto.minimo</td>
                <td>@producto.maximo</td>
                <td>@producto.tipo</td>
            </tr>
        }
    </tbody>
</table>