@model Punto_de_ventaMVC.Views.ViewsModels.AltaModificacionInventarioVM

@{
    ViewData["Title"] = "Crear Inventario";
}

<link rel="stylesheet" href="~/css/styles.css" />

<h1>@ViewData["Title"]</h1>

<div style="width: 50%">
    <div class="row">
        <!-- Formulario para crear un inventario -->
        <form asp-action="AltaInventario" method="post">
            @Html.AntiForgeryToken()

            <div class="form-group my-2">
                <label for="producto">Producto</label>
                <select asp-for="@Model.inventario.producto" class="form-select" id="producto" required>
                    <option value="" hidden selected>Seleccione un producto</option>
                    @foreach (var producto in Model.ProductosListItem)
                    {
                        <option value="@producto.Value">@producto.Text</option>
                    }
                </select>
                <span asp-validation-for="@Model.inventario.producto" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label for="cantidad">Cantidad</label>
                <input asp-for="@Model.inventario.cantidad" class="form-control" id="cantidad" type="number" required />
                <span asp-validation-for="@Model.inventario.cantidad" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label for="tipo">Tipo</label>
                <input asp-for="@Model.inventario.tipo" class="form-control" id="tipo" type="text" readonly />
            </div>

            <button type="submit" class="btn btn-primary my-2">Crear Inventario</button>
            <a href="@Url.Action("Index", "Inventario")" class="btn btn-secondary my-3">Volver</a>
        </form>
    </div>
</div>

<script>
    document.getElementById("producto").addEventListener("change", function () {
        const id = this.options[this.selectedIndex].value;

        if (id) {
            fetch(`/Inventario/GetTipoProducto?id=${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("tipo").value =  data.tipo;
                    document.getElementById("cantidad").min =  data.minimo;
                    document.getElementById("cantidad").max =  data.maximo;
            });
        } else {
            document.getElementById("tipo").value = "";
        }
    });
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
