@model Punto_de_ventaMVC.Models.Venta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_facturacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_facturacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descuento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_factura" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
