@model Punto_de_ventaMVC.Views.ViewsModels.DatailsVM

@{
    ViewData["Title"] = "Eliminar";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Estás seguro de que deseas eliminar esta venta?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venta.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venta.numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venta.fecha_facturacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venta.fecha_facturacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venta.subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venta.subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venta.isv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venta.isv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venta.descuento) (%)
        </dt>
        <dd class = "col-sm-10">
            @String.Format("{0:0}", Model.venta.descuento)%
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.venta.total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.venta.total)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="venta.id_factura" />
        <button type="submit" class="btn btn-danger my-3">Eliminar</button>
        <a href="@Url.Action("Index", "Ventas")" class="btn btn-secondary my-3">Volver</a>
    </form>
</div>
