@model Punto_de_ventaMVC.Models.Venta

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/styles.css" />

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_facturacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_facturacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descuento)
        </dd>
    </dl>
</div>

<h3>Items</h3>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Detalles)
        {
            <tr>
                <td>@item.Producto.nombre</td>
                <td>@item.cantidad</td>
                <td>@item.precio.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_factura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
